// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company_contnt {
  text-align: center;
  padding-top: -145px;
}

.product_list {
  text-align: center;
}

.company_image {
  text-align: center;
  height: auto;
  width: 100%;
}
